/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.test {
    width: 40%;
    float: left;
    padding-left: 10px;
}

.test-right {
  width: 50%;
  float: right;
  padding-right: 10px;
}


//ng5-slider

.custom-slider{
    margin-bottom: 25px;
}

//the bar itself
.custom-slider .ng5-slider .ng5-slider-bar {
    background: grey;
    height: 2px;
  }

  //pointer
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: black;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  //hide pointer shadow
  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  //tick marks
  .custom-slider .ng5-slider .ng5-slider-tick, .ng5-slider-ticks {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: purple;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: grey;
  }




