/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { 
    height: 100%;
    padding: 15px;
}
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-map {
    display: block;
    width: 70%;
}

app-translation {
    display: block;
    width: 30%;
}
