<mat-dialog-content>
  <h2>Further Information:</h2>
  <p><b>Original Title:</b> {{message.originalTitle}} </p>
  <p><b>Original Author:</b> {{message.originalAuthor}} </p>
  <p><b>Type:</b> {{message.type}} </p>
  <p><b>Details:</b> {{message.details}} </p>
  <p><b>City:</b> {{message.city}} </p>
  <p><b>Year:</b> {{message.year}} </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-raised-button color="primary" mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions>
