<!--The content below is only a placeholder and can be replaced.


<mat-card>
  <mat-card-header>
      <mat-card-title>Translations</mat-card-title>
      <mat-card-subtitle>1789-1929</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="row">
    <app-map></app-map>
    <app-translation></app-translation>
  </mat-card-content>
  <mat-card-footer>
    <app-timeline></app-timeline>
  </mat-card-footer>
</mat-card>

-->
<div>
  <header>
    <h1>Translations</h1>
    <h2>1789-1929</h2>
  </header>
  <div>
      <app-map></app-map>
     
  </div>
  <div class = 'test-right'>

      <app-timeline></app-timeline>
      <app-translation></app-translation>

  </div>
  
  
</div>
