

          <H4>
            Translation Data {{selectedYear}}
          </H4>
          <p>
          </p>
<div style="height: 500px; overflow-y: auto">
          <table class="translation_data_table">
            <thead>
                <th>Type</th>
                <th>Original Text Title</th>
                <th>Original Author</th>
                <th>City</th>
                <th>Year</th>
            </thead>
            <tbody>
                <tr *ngFor="let translation of translationDataList; let o = odd; let e = even"
                [ngClass]="{ odd: o, even: e }">
                    <td>{{translation.type}}</td>
                    <td>{{translation.originalTitle}}</td>
                    <td>{{translation.originalAuthor}}</td>
                    <td>{{translation.city}}</td>
                    <td>{{translation.year}}</td>
                    
                </tr>
            </tbody>
        </table>
 </div>




