

          <H4>
            Translation Data {{selectedYear}}
          </H4>
          <p>
          </p>


        <div class="example-container" >
         <!-- ***failed filter   <mat-form-field >
                <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>-->

                <mat-table #table [dataSource]="dataSource" matSort>
              
                  <!-- type Column -->
                  <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                    <mat-cell *matCellDef="let translationItem"> {{translationItem.type}} </mat-cell>
                  </ng-container>
              
                  <!-- Original Title Column -->
                  <ng-container matColumnDef="originalTitle">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Original Title </mat-header-cell>
                    <mat-cell *matCellDef="let translationItem"> {{translationItem.originalTitle}} </mat-cell>
                  </ng-container>
              
                  <!-- original Author Column -->
                  <ng-container matColumnDef="originalAuthor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Original Author </mat-header-cell>
                    <mat-cell *matCellDef="let translationItem"> {{translationItem.originalAuthor}} </mat-cell>
                  </ng-container>


                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
                        <mat-cell *matCellDef="let translationItem"> {{translationItem.city}} </mat-cell>
                        </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
    <!--
          <table class="translation_data_table">
            <thead>
                <th>Type</th>
                <th>Original Text Title</th>
                <th>Original Author</th>
                <th>City</th>
                <th>Year</th>
            </thead>
            <tbody>
                <tr *ngFor="let translation of translationDataList; let o = odd; let e = even"
                [ngClass]="{ odd: o, even: e }">
                    <td>{{translation.type}}</td>
                    <td>{{translation.originalTitle}}</td>
                    <td>{{translation.originalAuthor}}</td>
                    <td>{{translation.city}}</td>
                    <td>{{translation.year}}</td>
                    
                </tr>
            </tbody>
        </table>-->





