.right-side-panel{
    padding-left: 2em;
}



.translation_data_table{
  width: 100%;

  thead{
    text-align: left;
    th {
      padding-right: 10px;
      background-color:rgb(200, 200, 200); 
    }
  }

  tbody{
    text-align: left;

    td { 
      padding-right: 10px;

    }
    
  }

}

.odd{ background-color:  rgb(200, 200, 200); } 

.even{ background-color: rgb(250, 250, 250); }