
<div class = "test" >
  <div id="mapid"></div>
  <mat-slide-toggle [(ngModel)]="histMapON" (ngModelChange)="historicalMapTrigger()">Show Historical Map</mat-slide-toggle> 
  
  <table>
    <tr>
      <td>
        <img class='key_img' src='../assets/mapicons/lettericons/O.png'/> Original
      </td>
      <td>
        <img class='key_img' src='../assets/mapicons/lettericons/T.png'/> Translation
      </td>
      <td>
        <img class='key_img' src='../assets/mapicons/lettericons/A.png'/> Adaptation
      </td>
    </tr>
    <tr>
      <td>
        <img class='key_img' src='../assets/mapicons/lettericons/R.png'/> Review/Article
      </td>
      <td>
        <img class='key_img' src='../assets/mapicons/lettericons/M.png'/> Mention
      </td>
      <td>
        <img class='key_img' src='../assets/mapicons/lettericons/E.png'/> Evidence of Reading
      </td>
    </tr>
  </table>
</div>

